{% extends 'userindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="367" border="1">
    <tr>
      <td width="115">Twitter handle </td>
      <td width="167"><label>
        <input type="text" name="textfield" />
      </label></td>
      <td width="63"><label>
        <div align="center">
          <input type="submit" name="Submit" value="Search" />
        </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
